DEBUG=True
SECRET_KEY=generate-with-django-get-random-secret-key

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend

DATABASE_NAME=myproject_db
DATABASE_USER=myuser
DATABASE_PASSWORD=thisismypassword
DATABASE_HOST=db
DATABASE_PORT=5432

STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
