DEBUG=True
SECRET_KEY=django-insecure-my-super-secret-key-12345
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend

DATABASE_NAME=myproject_db
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=db
DATABASE_PORT=5432

STRIPE_SECRET_KEY=sk_test_51TSfPn9tXFihN32Aj5xBHOHTQmGRRbd1RWPUjL3IyO3zO86aM6MVGAC4owLCJexZAuC3usi36rPOTLC5frwgctTf00MZ1Anfew
STRIPE_PUBLISHABLE_KEY=pk_test_51TSfPn9tXFihN32AzE9TZ87qiF3IObqS17UsBlIaXkvnmESkrXhQNPaD6po0R1k6zGUMiWc44MRV0aZkpLa2KPPl00LIjDg1CO
STRIPE_WEBHOOK_SECRET=whsec_f32128ca42446b1475f635625c1d69e9a9fbbf1eff077d5bb1ff15a4b3ba4a5b