--
-- PostgreSQL database dump
--

\restrict lbDYbckyK2Z8J5KH5y3VmbJedlBV7RTabg3vXDGCficsesBrdDR5SvaYT4mSv8R

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_event; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_event (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    category_id bigint,
    image_url character varying(500)
);


ALTER TABLE public.api_event OWNER TO myuser;

--
-- Name: api_event_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_eventcategory; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_eventcategory (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.api_eventcategory OWNER TO myuser;

--
-- Name: api_eventcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_eventcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_eventcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_eventinstance; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_eventinstance (
    id bigint NOT NULL,
    "time" timestamp with time zone NOT NULL,
    event_id bigint NOT NULL,
    venue_id bigint NOT NULL
);


ALTER TABLE public.api_eventinstance OWNER TO myuser;

--
-- Name: api_eventinstance_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_eventinstance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_eventinstance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_eventseat; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_eventseat (
    id bigint NOT NULL,
    event_instance_id bigint NOT NULL,
    seat_id bigint NOT NULL,
    seat_category_id bigint NOT NULL
);


ALTER TABLE public.api_eventseat OWNER TO myuser;

--
-- Name: api_eventseat_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_eventseat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_eventseat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_order; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_order (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    eventinstance_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.api_order OWNER TO myuser;

--
-- Name: api_order_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_orderseat; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_orderseat (
    id bigint NOT NULL,
    event_seat_id bigint NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.api_orderseat OWNER TO myuser;

--
-- Name: api_orderseat_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_orderseat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_orderseat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_payment; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_payment (
    id bigint NOT NULL,
    stripe_session_id character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.api_payment OWNER TO myuser;

--
-- Name: api_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_seat; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_seat (
    id bigint NOT NULL,
    "row" integer NOT NULL,
    number integer NOT NULL,
    if_exist boolean NOT NULL,
    venue_id bigint NOT NULL
);


ALTER TABLE public.api_seat OWNER TO myuser;

--
-- Name: api_seat_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_seat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_seat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_seatcategory; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_seatcategory (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL
);


ALTER TABLE public.api_seatcategory OWNER TO myuser;

--
-- Name: api_seatcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_seatcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_seatcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_venue; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.api_venue (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    rows integer NOT NULL,
    seats_per_row integer NOT NULL
);


ALTER TABLE public.api_venue OWNER TO myuser;

--
-- Name: api_venue_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.api_venue ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_venue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO myuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO myuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO myuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO myuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO myuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO myuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO myuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO myuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO myuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO myuser;

--
-- Data for Name: api_event; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: api_eventcategory; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_eventcategory (id, name) FROM stdin;
1	Cinema
2	Theatre
3	Lecture
\.


--
-- Data for Name: api_eventinstance; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_eventinstance (id, "time", event_id, venue_id) FROM stdin;
1	2026-04-01 15:38:28.712633+00	1	1
2	2026-04-01 15:38:28.893536+00	2	2
3	2026-04-01 15:38:29.074387+00	3	3
4	2026-04-01 15:38:29.251441+00	4	4
5	2026-04-01 15:38:29.430544+00	5	5
6	2026-04-01 15:38:29.610706+00	6	6
7	2026-04-01 15:38:29.792693+00	7	7
8	2026-04-01 15:38:29.969906+00	8	8
9	2026-04-01 15:38:30.146909+00	9	9
\.


--
-- Data for Name: api_eventseat; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: api_order; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_order (id, status, eventinstance_id, user_id) FROM stdin;
1	pending	3	1
2	pending	3	1
3	pending	3	1
4	pending	3	3
\.


--
-- Data for Name: api_orderseat; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_orderseat (id, event_seat_id, order_id) FROM stdin;
1	201	1
2	202	1
3	205	2
4	206	2
5	217	3
6	218	3
7	298	3
8	259	3
9	254	3
10	234	3
11	222	4
12	232	4
13	242	4
\.


--
-- Data for Name: api_payment; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_payment (id, stripe_session_id, status, order_id) FROM stdin;
\.


--
-- Data for Name: api_seat; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: api_seatcategory; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_seatcategory (id, name, price) FROM stdin;
1	Standard for Dune: Part Two	5.00
2	Standard for Romeo and Juliet	21.00
3	Standard for AI & Society - Open Lecture	0.00
4	Standard for La La Land - City of Stars	8.00
5	Standard for Beetlejuice The Musical	25.00
6	Standard for Moulin Rouge! The Musical	30.00
7	Standard for Poor Things	10.00
8	Standard for Phantom of the Opera	45.00
9	Standard for The Secret Life of Trees	5.00
\.


--
-- Data for Name: api_venue; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.api_venue (id, name, rows, seats_per_row) FROM stdin;
1	12+ cinemas	10	10
2	National Theatre	10	10
3	Warsaw University of Technology	10	10
4	Multikino	10	10
5	Teatr Roma	10	10
6	Teatr Muzyczny Buffo	10	10
7	Kino Muran├│w	10	10
8	Teatr Wielki	10	10
9	Lecture Hall B2	10	10
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_group (id, name) FROM stdin;
1	Customer
2	Manager
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
1	1	53
2	2	24
3	2	21
4	2	22
5	2	23
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1200000$aJKLfE1cLzyetufckF6pnV$Y1YAZ/6w0MNXfG37E0XEpPIj2c5yMMGW3snfGP5Du1M=	2026-04-10 10:02:05+00	t	root	root	root	root@root.com	t	t	2026-03-31 15:38:44+00
3	pbkdf2_sha256$1200000$T6LzhEuLAerLmh2Lq3ttk3$ULJv3csC/M922u3hBijD7UNuDnLX0rokapCDek8qZhw=	\N	f	slisichik2004@gmail.com	Semion	Lisichik	slisichik2004@gmail.com	f	t	2026-04-10 11:19:20.383739+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
1	3	1
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	api	event
8	api	eventcategory
9	api	eventinstance
10	api	eventseat
11	api	order
12	api	orderseat
13	api	payment
14	api	seat
15	api	seatcategory
16	api	venue
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
tfdytwgfv2n9p4wnp52n2e1a7ghzuy3e	.eJxVjDsOwjAQBe_iGln-4Q8lPWewdr0LDiBbipMKcXeIlALaNzPvJTKsS83r4DlPJE5Ci8PvhlAe3DZAd2i3Lktvyzyh3BS50yEvnfh53t2_gwqjfmsVKRyN1xoYU7CqGE-RDRMXWxJq5SzGmNB4ZwJzjD4R2mAYr1zAafH-ANobOAo:1wB8gf:hV9ExSr3HTWeSx4_hG_vZgof8ecSTgGPG6ycSxNbHfY	2026-04-24 10:02:05.03139+00
\.


--
-- Name: api_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_event_id_seq', 9, true);


--
-- Name: api_eventcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_eventcategory_id_seq', 5, true);


--
-- Name: api_eventinstance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_eventinstance_id_seq', 9, true);


--
-- Name: api_eventseat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_eventseat_id_seq', 900, true);


--
-- Name: api_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_order_id_seq', 4, true);


--
-- Name: api_orderseat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_orderseat_id_seq', 13, true);


--
-- Name: api_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_payment_id_seq', 1, false);


--
-- Name: api_seat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_seat_id_seq', 900, true);


--
-- Name: api_seatcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_seatcategory_id_seq', 9, true);


--
-- Name: api_venue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.api_venue_id_seq', 9, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 2, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 5, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 10, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: api_event api_event_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_event
    ADD CONSTRAINT api_event_pkey PRIMARY KEY (id);


--
-- Name: api_eventcategory api_eventcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventcategory
    ADD CONSTRAINT api_eventcategory_pkey PRIMARY KEY (id);


--
-- Name: api_eventinstance api_eventinstance_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventinstance
    ADD CONSTRAINT api_eventinstance_pkey PRIMARY KEY (id);


--
-- Name: api_eventseat api_eventseat_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventseat
    ADD CONSTRAINT api_eventseat_pkey PRIMARY KEY (id);


--
-- Name: api_eventseat api_eventseat_seat_id_event_instance_id_2debf196_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventseat
    ADD CONSTRAINT api_eventseat_seat_id_event_instance_id_2debf196_uniq UNIQUE (seat_id, event_instance_id);


--
-- Name: api_order api_order_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_pkey PRIMARY KEY (id);


--
-- Name: api_orderseat api_orderseat_event_seat_id_order_id_a9ffdf25_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_orderseat
    ADD CONSTRAINT api_orderseat_event_seat_id_order_id_a9ffdf25_uniq UNIQUE (event_seat_id, order_id);


--
-- Name: api_orderseat api_orderseat_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_orderseat
    ADD CONSTRAINT api_orderseat_pkey PRIMARY KEY (id);


--
-- Name: api_payment api_payment_order_id_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_payment
    ADD CONSTRAINT api_payment_order_id_key UNIQUE (order_id);


--
-- Name: api_payment api_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_payment
    ADD CONSTRAINT api_payment_pkey PRIMARY KEY (id);


--
-- Name: api_seat api_seat_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_seat
    ADD CONSTRAINT api_seat_pkey PRIMARY KEY (id);


--
-- Name: api_seat api_seat_venue_id_row_number_44d99a96_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_seat
    ADD CONSTRAINT api_seat_venue_id_row_number_44d99a96_uniq UNIQUE (venue_id, "row", number);


--
-- Name: api_seatcategory api_seatcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_seatcategory
    ADD CONSTRAINT api_seatcategory_pkey PRIMARY KEY (id);


--
-- Name: api_venue api_venue_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_venue
    ADD CONSTRAINT api_venue_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: api_event_category_id_ed399f0f; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_event_category_id_ed399f0f ON public.api_event USING btree (category_id);


--
-- Name: api_eventinstance_event_id_c4ffd724; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_eventinstance_event_id_c4ffd724 ON public.api_eventinstance USING btree (event_id);


--
-- Name: api_eventinstance_venue_id_e6ffd48f; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_eventinstance_venue_id_e6ffd48f ON public.api_eventinstance USING btree (venue_id);


--
-- Name: api_eventseat_event_instance_id_df64f102; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_eventseat_event_instance_id_df64f102 ON public.api_eventseat USING btree (event_instance_id);


--
-- Name: api_eventseat_seat_category_id_f1272a07; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_eventseat_seat_category_id_f1272a07 ON public.api_eventseat USING btree (seat_category_id);


--
-- Name: api_eventseat_seat_id_75a15dce; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_eventseat_seat_id_75a15dce ON public.api_eventseat USING btree (seat_id);


--
-- Name: api_order_eventinstance_id_c8966fdf; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_order_eventinstance_id_c8966fdf ON public.api_order USING btree (eventinstance_id);


--
-- Name: api_order_user_id_52781ff0; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_order_user_id_52781ff0 ON public.api_order USING btree (user_id);


--
-- Name: api_orderseat_event_seat_id_6d40df64; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_orderseat_event_seat_id_6d40df64 ON public.api_orderseat USING btree (event_seat_id);


--
-- Name: api_orderseat_order_id_bb9ea0aa; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_orderseat_order_id_bb9ea0aa ON public.api_orderseat USING btree (order_id);


--
-- Name: api_seat_venue_id_dca89a60; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX api_seat_venue_id_dca89a60 ON public.api_seat USING btree (venue_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: myuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: api_event api_event_category_id_ed399f0f_fk_api_eventcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_event
    ADD CONSTRAINT api_event_category_id_ed399f0f_fk_api_eventcategory_id FOREIGN KEY (category_id) REFERENCES public.api_eventcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_eventinstance api_eventinstance_event_id_c4ffd724_fk_api_event_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventinstance
    ADD CONSTRAINT api_eventinstance_event_id_c4ffd724_fk_api_event_id FOREIGN KEY (event_id) REFERENCES public.api_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_eventinstance api_eventinstance_venue_id_e6ffd48f_fk_api_venue_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventinstance
    ADD CONSTRAINT api_eventinstance_venue_id_e6ffd48f_fk_api_venue_id FOREIGN KEY (venue_id) REFERENCES public.api_venue(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_eventseat api_eventseat_event_instance_id_df64f102_fk_api_event; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventseat
    ADD CONSTRAINT api_eventseat_event_instance_id_df64f102_fk_api_event FOREIGN KEY (event_instance_id) REFERENCES public.api_eventinstance(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_eventseat api_eventseat_seat_category_id_f1272a07_fk_api_seatcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventseat
    ADD CONSTRAINT api_eventseat_seat_category_id_f1272a07_fk_api_seatcategory_id FOREIGN KEY (seat_category_id) REFERENCES public.api_seatcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_eventseat api_eventseat_seat_id_75a15dce_fk_api_seat_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_eventseat
    ADD CONSTRAINT api_eventseat_seat_id_75a15dce_fk_api_seat_id FOREIGN KEY (seat_id) REFERENCES public.api_seat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_order api_order_eventinstance_id_c8966fdf_fk_api_eventinstance_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_eventinstance_id_c8966fdf_fk_api_eventinstance_id FOREIGN KEY (eventinstance_id) REFERENCES public.api_eventinstance(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_order api_order_user_id_52781ff0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_user_id_52781ff0_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_orderseat api_orderseat_event_seat_id_6d40df64_fk_api_eventseat_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_orderseat
    ADD CONSTRAINT api_orderseat_event_seat_id_6d40df64_fk_api_eventseat_id FOREIGN KEY (event_seat_id) REFERENCES public.api_eventseat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_orderseat api_orderseat_order_id_bb9ea0aa_fk_api_order_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_orderseat
    ADD CONSTRAINT api_orderseat_order_id_bb9ea0aa_fk_api_order_id FOREIGN KEY (order_id) REFERENCES public.api_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_payment api_payment_order_id_7b6d4bf5_fk_api_order_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_payment
    ADD CONSTRAINT api_payment_order_id_7b6d4bf5_fk_api_order_id FOREIGN KEY (order_id) REFERENCES public.api_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_seat api_seat_venue_id_dca89a60_fk_api_venue_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.api_seat
    ADD CONSTRAINT api_seat_venue_id_dca89a60_fk_api_venue_id FOREIGN KEY (venue_id) REFERENCES public.api_venue(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict lbDYbckyK2Z8J5KH5y3VmbJedlBV7RTabg3vXDGCficsesBrdDR5SvaYT4mSv8R

