@import "tailwindcss";

@theme {
  --color-brand-pink: #ff3366; 
  --color-brand-light-pink: #ffafbd;
  --color-brand-dark: #1a0b1a;
  --color-brand-purple: #845ec2;
  --color-brand-teal: #2c73d2;
  --color-bg-beige: #faf9f0;
}

:root {
  background-color: var(--color-bg-beige);
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}